<div class="formcontainer">
    <h1>Serhant Construction Login</h1>
    <form action="/login" method="post">
        <div class="input">
            <input type="text" name="email" required>
            <span id="label">User Name</span>
        </div>
        <div class="input">
            <input type="password" name="password" required>
            <span id="label">Password</span>
        </div>
        <input type="submit" class="submit">
    </form>
</div>