<header>
    <ul>
        <li>
            <a href="/admin">Salary Information</a>
        </li>
        <li>
            <a href="/paycycle">Employee Salary</a>
        </li>
        <li>
            <a href="/addsalary">Add Salary Information</a>
        </li>
        <li>
            <a href="/dep">Department Salary Summary</a>
        </li>
        <li>
            <a href="/addemp">Add Employee</a>
        </li>
        <li>
            <a href="/overtime">Update Overtime</a>
        </li>
        <li>
            <a href="/sickdays">Update Sick Days</a>
        </li>
    </ul>
    <a href="/logout" class="sub">Logout</a>
</header>